# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
client
server
/Forge/client
/Forge/server
/Forge/production
/Fabric/client
/Fabric/server
